/* Workers.css */

/* Form container styles */
.form-container {
backdrop-filter: blur(8px);
    background-color: rgba(212, 32, 32, 0.5);


    --s: 34px;
    /* control the size (the circle diameter) */
    --c1: rgba(244, 248, 31, 0.5);
    --c2: rgba(87, 168, 206, 0.5);

    --_g: radial-gradient(calc(var(--s)/2), var(--c1) 97%, #0000);
    background:
        var(--_g), var(--_g) calc(2*var(--s)) calc(2*var(--s)),
        repeating-conic-gradient(from 45deg, #0000 0 25%, var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
        repeating-linear-gradient(135deg, var(--c1) calc(var(--s)/-2) calc(var(--s)/2), var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));

    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(71, 64, 64);


}

/* Form label styles */
.form-container label {
    display: block;
    margin-bottom: 10px;
}

/* Form input styles */
.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}

